/* Radio button navigation styles */
.radio-inputs {
    position: relative;
    display: flex;
    border-radius: 0.5rem;
    background-color: var(--system-blue);
    box-sizing: border-box;
    font-size: 14px;
    padding: 1rem 1rem 0 1rem;
    margin-left: auto;
}

    .radio-inputs .radio {
        flex: 1;
        text-align: center;
    }

        .radio-inputs .radio input {
            display: none;
        }

        .radio-inputs .radio .name {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
            border: none;
            padding: 0.5rem 0.8rem;
            color: rgba(255, 255, 255, 0.8);
            transition: all 0.15s ease-in-out;
            position: relative;
            min-width: 80px;
        }

        .radio-inputs .radio input:checked + .name {
            background-color: var(--system-white);
            font-weight: 600;
            color: var(--system-text);
        }

        .radio-inputs .radio input + .name:hover {
            color: var(--system-white);
        }

        .radio-inputs .radio input:checked + .name:hover {
            color: var(--system-text);
        }

        .radio-inputs .radio input:checked + .name::after,
        .radio-inputs .radio input:checked + .name::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--system-blue);
            bottom: 0;
        }

        .radio-inputs .radio input:checked + .name::after {
            right: -10px;
            border-bottom-left-radius: 300px;
            box-shadow: -3px 3px 0px 3px var(--system-white);
        }

        .radio-inputs .radio input:checked + .name::before {
            left: -10px;
            border-bottom-right-radius: 300px;
            box-shadow: 3px 3px 0px 3px var(--system-white);
        }

/* Responsive adjustments for radio navigation */
@media (max-width: 768px) {
    .radio-inputs {
        flex-direction: column;
        width: 100%;
        padding: 0.5rem;
        margin-top: 1rem;
        border-radius: 0.5rem;
    }

        .radio-inputs .radio .name {
            border-radius: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .radio-inputs .radio input:checked + .name::after,
        .radio-inputs .radio input:checked + .name::before {
            display: none;
        }

    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }
}
